[Desktop Entry]
Exec=font2bytes
Name=Font2Bytes
Icon=font2bytes
Type=Application
Categories=Qt;Development;
Comment=Font image to bytes converter
GenericName=Font to Source Code Converter
Terminal=false
